{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<title>Main</title>
	</head>
	<body>
		<form action="" method="post">
			{% csrf_token %}
			<input type="text" name="search">
			<button type="submit">Search</button>
		</form>
		<div>{{horoscope.lucky_time}}</div>
		<div>{{horoscope.description}}</div>
		<div>{{horoscope.compatibility}}</div>
		<a href="{% url 'logout' %}">Logout</a>
	</body>
</html>