{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<title>Register</title>
	</head>
	<body>
	{% include 'app1/navbar.html' %}
		<form action="" method="post">
			{% csrf_token %}
			<h1>Register</h1>
			<div class="register-input">
				<div class="username">
					<label for="Username">Username</label>
					{{register.username}}
				</div>
				<!-- <div class="email">
					<label for="Email">Email</label>
					{{form.email}}
				</div> -->
				<div class="password">
					<label for="Password">Password</label>
					{{register.password1}}
				</div>
				<div class="password">
					<label for="Password">Confirm Password</label>
					{{register.password2}}
				</div>
			</div>
			<div class="register-btn">
				<button type="submit" class="button-register">Register</button>
				<button type="reset" class="button-register">Reset</button>
			</div>
			<p class="message">{{register.errors}}</p>
		</form>
		<p>Already Register? Click <a href="{% url 'login' %}">here</a></p>
	</body>
</html>